<div class="flex d-flex gap-4">
  <app-sidebar></app-sidebar>

  <div class="escopo mt-3">
    <div class="content col-6">
      <div class="container-border">
        <h1 style="color: black; font-size: larger" class="mb-3">
         Historico de pedidos
        </h1>
        <div class="container-centralizar">
          <div
            class="formCriarProduto"
            action=""

          >
          <div class="example-container mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource">
          
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
          
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>ID </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="valor-item">
                <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.valorItem |  currency:'BRL':'symbol'}} </mat-cell>
              </ng-container>
          
       
              <!-- Symbol Column -->
              <ng-container matColumnDef="informacoes">
                <mat-header-cell *matHeaderCellDef> Detalhes </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                  
                 <div  (click) ="abrirHistoricoPedidos(element)" class="div-img"> <img src="../../../../../assets/visualizador.png" alt=""></div>

                  
                </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
          
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

