<div class="sidebar">
  <div class="d-flex titulo-image">
    <div class="mt-2"><img src="../../../../../assets/circulo.png" /></div>
    <div class="mt-4"><strong>Uzusis</strong>
    <p>uzusis admin</p></div>
  </div>
  <li>
    <a href="admin/criar-produto">Criar produto</a>
    <a href="admin/pedidos-pendentes">Pedidos pendentes</a>
    <a href="admin/historico-pedidos">Historico pedidos</a>
    <a href="admin/pegar-produtos">Pegar produtos</a>
  </li>
  <div class="logo-na-base">
    <img src="../../../../../assets/logoUzu.png" alt="">
  </div>
</div>
