<div class="modal-container">
  <div class="modal-header">
    <div class="tituloESubtitulo d-flex justify-content-center">
      <h2 class="titulo">Detalhes do pedido</h2>
   
    </div>
    <div class="close-modal-img" (click)="fecharModal()">
      <img src="../../../../../assets/icons8-excluir-50.png"alt="">
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-inputs">
    
      <td>
        <div
          class="example-full-width input"
          style="min-width: 31.25rem">
          <h3 class="grande">Resumo do pedido</h3>
         <p>ID do pedido #{{data.id}}</p>
        </div>
      </td>

      <td class="container-dados-do-pedido">
        <div class="d-flex">
        
          <div class="img-dados-pedido ">
            <img src="../../../../../assets/imagemModalInformacao.png" alt="">
          </div>
          <div class="dados-pedido">
              <p> {{produtoData.nome}}</p>
              <p> {{produtoData.categoriaNome}} - {{data.sigla}} </p>
          </div>
          <div class="div-valor">
            <p>Valor: {{data.valorItem | currency:'BRL':'symbol'}} </p>
          </div>
          
        </div>
      </td>

      <div class="alinhar-elementos">
        <div class="texto"><p>Adicionar embalagem para presente</p></div>
        <div class="div-image"><img src="../../../../../assets/presente.png" alt=""></div>
      </div>


    </div>
<div>
    <div class="textoH3"><h3 class="grande">Dados cadastrais</h3></div>

    <div class="containerBege">
      <div class="padding-container-bege">
      <p>Nome: {{clienteData.nome}}</p>
      <p>Celular: {{clienteData.celular}}</p>
      <p>CPF:{{clienteData.cpf}}</p>
      <p>Data de Nascimento:{{clienteData.dataNascimento}}</p> 
    </div>
    </div>
    <div class="textoH3"><h3>Endereço de entrega</h3></div>

    <div class="containerBege">
      <div class="padding-container-bege">
      <p>Endereço: {{clienteData.endereco.rua}}</p>
      <p>Barro:  {{clienteData.endereco.bairro}}</p>
      <p>CEP:  {{clienteData.endereco.cep}}</p>
      <p>Cidade / UF:  {{clienteData.endereco.cidade}}</p> 
    </div>
    </div>


    </div>
  </div>
</div>
<div class="modal-acoes">
  <button (click)="fecharModal()" class="btn-fechar">
    <div class="btn-fechar-title">Fechar</div>
  </button>
</div>
