<div class="conteudo">
<div class="footer">
  <div class="sobre coluna">
    <h1>SOBRE A LOJA</h1>
    <p>
      Sonhada desde 2022, finalmente ganhamos forma. Com o desejo de vestir mulheres com almas grandes em corpos pequenos, desenvolvemos peças exclusivas e do tamanho da sua liberdade.
Com o mesmo sangue e agora com o mesmo sonho. Irmãs, melhores amigas e apaixonadas pelo estilo minimal, com o propósito de te inspirar a amar quem se é, e a ver teu corpo como lar.
    </p>
  </div>

  <div class="atendimento coluna">
    <h1>ATENDIMENTO</h1>
   <p> <img src="../../../../assets/email-svgrepo-com.svg" alt="email" class="icon">uzusis@gmail.com</p>
   <a href="https://www.instagram.com/_uzusis/?igsh=ZXRkM3N1a3Z6c3d6&utm_source=qr"> <img src="../../../../assets/instagram_icon.svg" alt="instagram" class="icon">_uzusis</a>
  <p></p>
   <a href="https://linktr.ee/uzusis"> <img src="../../../../assets/whatsapp-1.svg" alt="whatsapp" class="icon">uzusis@gmail.com</a>
  </div>

  <div class="categorias coluna">
    <h1>CATEGORIAS</h1>
    <p>calças</p>
    <p>shorts</p>
    <p>saias</p>
    <p>cropped</p>
    <p>conjuntos</p>
    <p>blusão</p>
    <p>body</p>
    <p>blusas</p>
    <p>acessórios</p>
    

  </div>

</div>
<div class="aviso">Dica de segurança:não realize pagamentos para desconhecidos. As ofertas e produtos apresentados nesse catálogo são de responsabilidade de <strong> UZUSIS</strong></div>
<div class="copyright">DESENVOLVIDO POR JRL TEAM</div>
</div>