.content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color:#efeded;
    padding: 30px;
    width: 100vh;



.quantidade{
 gap: 20px;
    }
   
  
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: left;

  }

  .formCriarProduto{
 
    gap: 5%;
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 50px;
  
  }
  

  .escopo{
  
    margin: 0 auto;


  }

  /* styles.scss */
.invalid-field {
  border: 1px solid red;
}

.box-images{
  background-color: white;
  border: solid 1px black;
  padding: 40px;
  form{
    width: 200px;
    height: 200px;
  }

  .fotoClose{

    width: 20px;
    height: 20px;
 
    img{

      max-width: 100%;
    }
  }


  label{
    width: 50%;
    height: 50%;
  }
}


.caixa-imagem{
  background-color: #e1ded8;

}


.file-upload-div{
  input[type="file"]{
    display: none;
    
  }
  label{
    cursor: pointer;
    position: relative;
    background-color: #e1ded8;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

  }
}


.botao-salvar{
  padding: 5px 70px;
  border: none;
  background-color: black;
  color: white;
  margin-left: 25%
}



