.content{
    display: flex;

    background-color:#efeded;
    padding: 1.875rem;
    width: 100vh;


.quantidade{
 gap: 1.25rem;
    }
   
  
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: left;

  }

  .formCriarProduto{
    gap: 2%;
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 3.125rem;
  
  }
  

  
  /* styles.scss */
.invalid-field {
  border: .0625rem solid red;
}

.box-images{
  background-color: white;
  border: solid .0625rem black;
  padding: 2.5rem;


  .fotoClose{

    width: 1.25rem;
    height: 1.25rem;
 
    img{

      max-width: 100%;
    }
  }


  label{
    width: 50%;
    height: 50%;
  }
}


.caixa-imagem{
  background-color: #e1ded8;

}


.file-upload-div{
  input[type="file"]{
    display: none;
    
  }
  label{
    cursor: pointer;
    position: relative;
    background-color: #e1ded8;
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }

  }
}


.botao-salvar{
  padding: .100rem 3rem;
  border: none;
  background-color: black;
  color: white;
  
}


.input-retangulo{
  height: 3.75rem;
  color: rgb(1, 8, 14);
  border: solid .0625rem rgb(156, 156, 158)
}




.setQuantidade{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: .0625rem solid black;
  background-color: white;
  border-radius: .75rem;
}


.btn-decrease, .btn-increase {
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  background-color: white;
}


.quantidade-input {
  text-align: center;
  width: 3.75rem; 
  padding: .3125rem;
  border: none;
  border-radius: .25rem;
}

.cadastrar-produto{
  padding: .3125rem 1.25rem;
  border: none;
  background-color: black;
  color: white;
  
  max-width: 30%;
}



.box-images label img{
min-width: 100%  ;
min-height: 100%; 
max-height: 100%;
max-width: 100%;
object-fit: cover;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type="number"] {
  -moz-appearance: textfield;
}
.setQuantidade label{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right:solid .0625rem rgb(156, 156, 158);
  padding-right: 3px;
  margin-left: 3px;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: white !important;
  border: solid .0625rem rgb(156, 156, 158) !important;
  box-shadow: none;
}