.content{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color:#efeded;
    padding: 30px;
    width: 100vh;



.quantidade{
 gap: 20px;
    }
   
  
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: left;

  }

  form{
 
    gap: 5%;
    display: flex;
    flex-direction: column;
    width: 90vh;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    padding: 50px;
  
  }
  

  .escopo{
  
    margin: 0 auto;


  }

  /* styles.scss */
.invalid-field {
  border: 1px solid red;
}

.box-images{
  background-color: white;
}


.caixa-imagem{
  background-color: #e1ded8;
  width: 140px;
  height: 150px;
}

.caixa-imagem-grande{

}


.file-upload-div{
input[type="file"]{
  display: none;
}
label{
  width: 300px;
  width: 300px;
  height: 200px;
  background-color: #e1ded8;
}
img{
  width: 500px;
}
}

