
<div class="flex d-flex">
<app-sidebar></app-sidebar>

<div class="escopo">
  <div class="content col-6">
   <div class="container-border">
    <h1 style="color: black;">Cadastrar produto</h1>
    <form class="formCriarProduto" *ngIf="!enviarFoto"  action="" [formGroup]="criarProduto">
      
      <div style="width: 200px; height:  300px;" (click)="trocarParaOEnviarImagem()">
        AAAAAAAAAAAAAAAAAAAAAAAAAAA
      </div>
      
      
      <label for="">Crie um novo produto</label>
      <input type="text"  formControlName="Nome" placeholder="nome do produto" />
      <label for="">Preço de venda</label>
      <input type="number" formControlName="Preco"  placeholder="R$ 00,00"/>
      <label for="">Adicionar tamanhos</label>  
      <div class="quantidade d-flex">
      <div>
        <label for="">P</label>  
      <input type="number" formControlName="QuantidadeP"/>
    </div>
    <div>
      <label for="">M</label>    
      <input type="number" formControlName="QuantidadeM"/>
    </div>
    <div>
      <label for="">G</label>    
      <input type="number" formControlName="QuantidadeG"/>
    </div>
    </div>
    <mat-form-field style="width: 50%;">
      <mat-label>Categoria</mat-label>
      <mat-select [(value)]="selecionado">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria.categoria">
          {{ categoria.nomeCategoria }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <input style="height: 100px;" type="text"  formControlName="Descricao" placeholder="Descricao" />



      <button type="submit" (click) = "cadastrarProduto()">click</button>
      </form>
<form  *ngIf="enviarFoto" action="">
<div class="box-images d-flex justify-content-center">
  <div>


<div style="width: 420px; height: 200px;" class="file-upload-div">
    <label  [ngStyle] = "{'background-image': 'url('+backgroundImageUrl1+')',     'background-position': 'center','background-repeat': 'no-repeat',}" style="height: 100%; width: 100%;" for="file-upload"></label>
    <input (click) = "fileClick1($event)"  (change) = "onFilesSelected($event)" type="file" id="file-upload" name = "file-upload1">
    <!-- <img width="500px" src="../../../../../assets/icons8-adicionar-50.png" alt=""> -->
</div>
<div style="gap: 20px;" class="d-flex mt-2">
<div style="width: 200px; height: 250px;" class="file-upload-div">
  <label  [ngStyle] = "{'background-image': 'url('+backgroundImageUrl2+')',     'background-position': 'center','background-repeat': 'no-repeat', 'width': '200px'}"  style="width: 200px;"  for="file-upload"></label>
  <input  (change) = "onFilesSelected($event)" type="file" id="file-upload" name = "file-upload2">
  <!-- <img src="/src/assets/icons8-adicionar-50.png" alt=""> -->
</div>

<div style="width: 200px; height: 250px;" class="file-upload-div">
  <label  [ngStyle] = "{'background-image': 'url('+backgroundImageUrl3+')',     'background-position': 'center','background-repeat': 'no-repeat', 'width': '200px'}"  for="file-upload"></label>
  <input  (change) = "onFilesSelected($event)" type="file" id="file-upload" name = "file-upload3">
  <!-- <img src="/src/assets/icons8-adicionar-50.png" alt=""> -->
</div>
</div>

<button class="botao-salvar">Salvar</button>
</div>

</div>
</form>

    </div>
  </div>
</div>
</div>