<app-navbar />

<div class="escopo">
  <div class="content col-6">
   <div class="container-border">
 
    <form class="mb-3" [formGroup]="formCadastrar" (ngSubmit)="onSubmit()">
      <h2>Cadastre-se</h2>
      
      <div>
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome" />
      </div>
      
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
      </div>
      
      <div>
        <label for="senha">Senha:</label>
        <input id="senha" type="password" formControlName="senha" />
      </div>
      
      <div>
        <label for="cpf">CPF:</label>
        <input id="cpf" formControlName="cpf" />
      </div>
      
      <div>
        <label for="celular">Celular:</label>
        <input id="celular" formControlName="celular" />
      </div>
      
      <div>
        <label for="dataNascimento">Data de Nascimento:</label>
        <input id="dataNascimento" type="date" formControlName="dataNascimento" />
      </div>
      
      <fieldset>
        <legend>Endereço</legend>
        
        <div>
          <label for="cep">CEP:</label>
          <input id="cep"  (keyup) = "puxarEndereco()" formControlName="cep" />
        </div>
        
        <div>
          <label for="rua">Rua:</label>
          <input id="rua" formControlName="rua" />
        </div>
        
        <div>
          <label for="numero">Número:</label>
          <input id="numero" formControlName="numero" />
        </div>
        
        <div>
          <label for="bairro">Bairro:</label>
          <input id="bairro" formControlName="bairro" />
        </div>
        
        <div>
          <label for="cidade">Cidade:</label>
          <input id="cidade" formControlName="cidade" />
        </div>
        
        <div>
          <label for="estado">Estado:</label>
          <input id="estado" formControlName="estado" />
        </div>
      </fieldset>
      
      <button type="submit" [disabled]="formCadastrar.invalid">Cadastrar</button>
    </form>
 
    </div>
  </div>
</div>

<app-footer></app-footer>