<app-navbar></app-navbar>
<div class="escopo">
  <header class="cabecalho">
    <h1>
      Definir nova senha
    </h1>
    <p>
      Insira o código enviado
      <ng-container *ngIf="email">
        para
        <strong>
          {{ email }}
        </strong>
      </ng-container>
      <ng-container *ngIf="!email">
        no seu e-mail
      </ng-container>
    </p>
  </header>
  <section class="uz-cartao cartao">
    <form [formGroup]="formResetarSenha">
      <div class="campo">
        <label class="uz-rotulo" for="codigo">
          Código de verificação
        </label>
        <input class="uz-campo codigo" id="codigo" formControlName="codigo" type="text" maxlength="5" inputmode="numeric" autocomplete="one-time-code">
        <small class="uz-erro" *ngIf="(formResetarSenha.get('codigo')?.invalid)&&(formResetarSenha.get('codigo')?.touched)">
          O código tem 5 dígitos.
        </small>
      </div>
      <div class="campo">
        <label class="uz-rotulo" for="senha">
          Nova senha
        </label>
        <input class="uz-campo" id="senha" formControlName="senha" type="password" autocomplete="new-password">
        <small class="uz-erro" *ngIf="(formResetarSenha.get('senha')?.invalid)&&(formResetarSenha.get('senha')?.touched)">
          Use ao menos 6 caracteres.
        </small>
      </div>
      <div class="campo">
        <label class="uz-rotulo" for="confirmarSenha">
          Confirmar nova senha
        </label>
        <input class="uz-campo" id="confirmarSenha" formControlName="confirmarSenha" type="password" autocomplete="new-password">
        <small class="uz-erro" *ngIf="formResetarSenha.hasError('senhasDiferentes')&&(formResetarSenha.get('confirmarSenha')?.touched)">
          As senhas não são iguais.
        </small>
      </div>
      <button class="uz-btn-marca largura-total" type="submit" (click)="resetarSenha()">
        Alterar senha
      </button>
      <a class="voltar" routerLink="/login">
        Voltar para o login
      </a>
    </form>
  </section>
</div>
<app-footer></app-footer>
