@import url("https://fonts.googleapis.com/css2?family=Scope+One&display=swap");


::ng-deep .p-sidebar-content {
background-color: white;
}
.navbar {
  -webkit-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.73);
  -moz-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.73);
  box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.40);
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  align-items: center;
  padding: .625rem 2.5rem;
  gap: 10px;
  margin: 10px;
  top: 0;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
.conteudo {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: Scope One;
  font-weight: 100;
  font-size: 20.3px;
    img{
      cursor: pointer;
    }
 
}
.carrinhoSidenav{
  background-color: white;
}

}
.itensFlex{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-mdc-text-field-wrapper{
  width: 250px !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper{
  display: none;
}

::ng-deep .mat-mdc-button{
  font-size: 15px;
}

.account{
  font-family: Scope One;
  font-size: 16px;
  cursor: pointer;
  img{
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
  }
}
.carrinho{
  cursor: pointer;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
::ng-deep .mdc-button__label{
  color: #212529;
  font-family: Scope One;
  font-size: 20.3px;
  font-weight: 14;
}
.item{
  cursor: pointer;
}

::ng-deep p-button{
  border: none;
  button{
    border:  none !important;
  }
  .carrinho{
    border: none;
  }
}

::ng-deep .swal2-actions{
  gap: 20px;
}
::ng-deep .p-icon-wrapper{
  position: absolute;
  z-index: 3000000;
  left: 450px;
  top: 17px;
}
.carrinhoSidenav{
  h5{
    font-family: Scope One;
    margin-top: 10px;
    position: relative;
  }
}
.img{
 
  object-fit: cover;
  img{
    width: 100px;
    height: 150px;
    object-fit: cover;
  }
}

.carrinhoProdutos{
  margin-left: 10px;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.carrinhoProdutos{
  display: flex;
  flex-direction: row;
  gap: 50px;
  img{
    margin-bottom: 40px;
  }
  h5,label{
    font-size: 15px;
    font-family: Scope One;
  }
  input{
    border: none;
  }
}
.itens{
  span{
  font-family: Scope One;
  }
}
.informacoes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
  gap: 20px;
  button{
    height: 30px;
    width: 30px;
    border: none;
  }
}
.titulocarrinho{
  margin-left: 30px;
}
.flex-preco{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Scope One;
  margin: 50px 20px;
  font-weight: 800;
}
.finalizar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Scope One;
  background-color: #292b2e;
  border-radius: 10px;
  color: white;
  margin: 0 20px;
  cursor: pointer;
  height: 40px;
  div{
    margin-left: 20px;
  }
  span{
    margin-right: 20px;
  }
}