<div class="pagina-admin">
  <section class="uz-cartao cartao">
    <div class="marca">
      <img src="assets/circulo.png" alt="">
      <div>
        <strong>
          Uzusis
        </strong>
        <span>
          painel do admin
        </span>
      </div>
    </div>
    <h1>
      Entrar
    </h1>
    <p class="apoio">
      Acesso restrito à administração da loja
    </p>
    <form [formGroup]="formLogin">
      <div class="campo">
        <label class="uz-rotulo" for="adminEmail">
          E-mail
        </label>
        <input class="uz-campo" id="adminEmail" formControlName="email" type="email" autocomplete="username">
      </div>
      <div class="campo">
        <label class="uz-rotulo" for="adminSenha">
          Senha
        </label>
        <input class="uz-campo" id="adminSenha" formControlName="senha" type="password" autocomplete="current-password">
      </div>
      <button class="uz-btn largura-total" type="submit" (click)="logar()">
        Prosseguir
      </button>
    </form>
    <a class="voltar" routerLink="/">
      Voltar para a loja
    </a>
  </section>
</div>
