<div>
  <div class="grid" id="fotosContainer">
    <article class="card" (click)="openDialog(produto)" *ngFor="let produto of produtos">
      <div class="foto">
        <img [src]="produto.fotoUrls[0]" [alt]="produto.nome">
        <span class="etiqueta">
          {{ produto.categoriaNome }}
        </span>
      </div>
      <div class="corpo">
        <h5>
          {{ produto.nome }}
        </h5>
        <strong class="preco">
          {{ produto.preco | currency:'BRL':'symbol' }}
        </strong>
      </div>
    </article>
  </div>
  <button class="gerar" (click)="gerar()" *ngIf="hasMore; else semMais">
    Carregar mais fotos
  </button>
  <ng-template #semMais>
    <p class="sem-mais">Sem mais informações</p>
  </ng-template>
</div>
