<div class="modal_aberto">
  <div class="galeria">
    <ngb-carousel #carousel [interval]="5e3" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
      <ng-template ngbSlide *ngFor="let img of images">
        <div class="picsum-img-wrapper">
          <img [src]="img.name" [alt]="data.nome" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="informacoes">
    <span class="categoria">
      {{ data.categoriaNome }}
    </span>
    <h2>
      {{ data.nome }}
    </h2>
    <p class="preco">
      {{ data.preco | currency:'BRL':'symbol' }}
    </p>
    <p class="descricao">
      {{ data.descricao }}
    </p>
    <span class="subtitulo">
      Tamanho
    </span>
    <div class="tamanhos">
      <button type="button" [class.selected]="selectedSize===item" (click)="selectSize(item)" *ngFor="let item of ['P','M','G']">
        {{ item }}
      </button>
    </div>
    <ng-container *ngIf="Visible">
      <p class="disponivel">
        Disponíveis: {{ disponivel }}
      </p>
      <ng-container *ngIf="auxiliar">
        <span class="subtitulo">
          Quantidade
        </span>
        <div class="compra">
          <div class="setQuantidade">
            <button class="btn-decrease" type="button" aria-label="Diminuir" (click)="decreaseQuantity()">
              -
            </button>
            <input class="quantidade-input" type="number" min="1" disabled="" [ngModel]="quantidade" [max]="disponivel" (ngModelChange)="quantidade=$event">
            <button class="btn-increase" type="button" aria-label="Aumentar" (click)="increaseQuantity()">
              +
            </button>
          </div>
          <button class="adicionar" type="button" (click)="Adicionar()">
            Adicionar ao carrinho
          </button>
        </div>
      </ng-container>
      <p class="estoque" *ngIf="!auxiliar">
        Estoque:
        <span class="indisponivel">
          indisponível
        </span>
      </p>
    </ng-container>
  </div>
</div>
