<form class="modal-abrido" [formGroup]="form">
  <section class="checkout">
    <h2>
      Checkout
    </h2>
    <div class="tabela">
      <div class="linha cabecalho">
        <span>
          Produto
        </span>
        <span class="centro">
          Qtd.
        </span>
        <span class="direita">
          Preço
        </span>
      </div>
      <div class="linha" *ngFor="let produto of produtos">
        <div class="produto">
          <img alt="" width="72" height="96" [src]="produto.fotoUrls[0]">
          <div class="info">
            <strong>
              {{ produto.nome }}
            </strong>
            <span>
              {{ produto.categoriaNome }}
            </span>
          </div>
        </div>
        <span class="centro">
          {{ produto.quantidadePedida }}
        </span>
        <span class="direita">
          {{ produto.preco | currency:'BRL':'symbol' }}
        </span>
      </div>
    </div>
    <div class="campo">
      <label for="pagamento">
        Selecione a forma de pagamento
      </label>
      <select formControlName="pagamento" id="pagamento" (change)="onPaymentChange($event)">
        <option value="" disabled="" selected="">
          Escolha...
        </option>
        <option value="pix">
          Pix
        </option>
        <option value="cartao">
          Cartão
        </option>
      </select>
      <small class="error" *ngIf="(form.get('pagamento')?.invalid)&&(form.get('pagamento')?.touched)">
        Este campo é obrigatório.
      </small>
    </div>
    <div class="campo" *ngIf="form.get('pagamento')?.value">
      <label for="nome" *ngIf="'cartao'===selected">
        Informe seu cartão
      </label>
      <input type="text" id="nome" formControlName="nome" placeholder="Digite aqui..." (change)="getNameValue()" *ngIf="'cartao'===selected">
      <ng-container *ngIf="'pix'===selected">
        <label>
          Chave aleatória
        </label>
        <p class="chave-pix">
          {{ chave }}
        </p>
      </ng-container>
    </div>
    <button class="finalizar" type="button" (click)="comprar()" *ngIf="agoraPode&&agorarealpode">
      FINALIZAR PEDIDO
    </button>
    <small class="comprasegura">
      <img src="assets/cadeado.webp" alt="" width="10" height="10">
      compra segura
    </small>
  </section>
  <aside class="resumo">
    <h2>
      Resumo do pedido
    </h2>
    <div class="entrega">
      <label for="cep">
        Entrega
      </label>
      <div class="flex-input" [formGroup]="formCep">
        <input type="text" id="cep" placeholder="CEP de entrega*" required="" formControlName="cep" name="cep">
        <button class="calcular" type="button" (click)="getCep()">
          CALCULAR
        </button>
      </div>
      <small class="error" *ngIf="cpfInvalido">
        O CEP informado é inválido
      </small>
    </div>
    <hr>
    <div class="total">
      <span>
        SUBTOTAL
      </span>
      <span>
        {{ precoItens | currency:'BRL':'symbol' }}
      </span>
    </div>
    <div class="total">
      <span>
        FRETE
      </span>
      <span>
        {{ frete | currency:'BRL':'symbol' }}
      </span>
    </div>
    <div class="total destaque">
      <span>
        TOTAL
      </span>
      <span>
        {{ precoTotal | currency:'BRL':'symbol' }}
      </span>
    </div>
    <button class="btn-fechar" type="button" (click)="fecharModal()">
      Fechar
    </button>
  </aside>
</form>
