<div class="container-fluid">
    <ul class="modal-name">
        <li>Esqueci minha senha</li>
    </ul>
    <form [formGroup]="form">

        <div class="container-verify-email">
            <div class="title">
                <h2>Digite o código de verificação</h2>

                <div class="details">
                    <p>Enviamos um e-mail com um código de dígitos para:</p>
                    <strong>{{email}}</strong>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-2 d-flex justify-content-center" *ngFor="let input of formInput;  index as i">
                    <input #formRow type="text" formControlName="{{input}}" class="form-control" maxlength="1" (keyup)="keyUpEvent($event, i)">
                </div>
            </div>
            <button (click) = "enviarCodigoEmail()"  class="btn-primary">validar código</button>

            <div class="alert-span">
                <p>Não recebeu? <span>Reenviar código</span></p>
            </div>
        </div>
    </form>
</div>