<app-navbar></app-navbar>
<div class="escopo">
  <header class="cabecalho">
    <h1>
      Cadastre-se
    </h1>
    <p>
      Cadastre-se informando seus dados
    </p>
  </header>
  <div class="uz-cartao cartao">
    <form [formGroup]="formCadastrar" (ngSubmit)="onSubmit()">
      <div class="linha duas">
        <div>
          <label class="uz-rotulo" for="email">
            Email
          </label>
          <input class="uz-campo" id="email" type="email" formControlName="email" autocomplete="email" [ngClass]="{'invalid-field':(formCadastrar.get('email')?.invalid)&&formularioEnviarError}">
        </div>
        <div>
          <label class="uz-rotulo" for="nome">
            Nome
          </label>
          <input class="uz-campo" id="nome" type="text" formControlName="nome" placeholder="Ex: Igor Valente" autocomplete="name" [ngClass]="{'invalid-field':(formCadastrar.get('nome')?.invalid)&&formularioEnviarError}">
        </div>
      </div>
      <div class="linha duas">
        <div>
          <label class="uz-rotulo" for="senha">
            Senha
          </label>
          <input class="uz-campo" id="senha" type="password" formControlName="senha" placeholder="*****" autocomplete="new-password" [ngClass]="{'invalid-field':(formCadastrar.get('senha')?.invalid)&&formularioEnviarError}">
        </div>
        <div>
          <label class="uz-rotulo" for="confirmarSenha">
            Confirmar senha
          </label>
          <input class="uz-campo" id="confirmarSenha" type="password" formControlName="confirmarSenha" placeholder="*****" autocomplete="new-password" [ngClass]="{'invalid-field':(formCadastrar.get('confirmarSenha')?.invalid)&&formularioEnviarError}">
        </div>
      </div>
      <div class="linha tres">
        <div>
          <label class="uz-rotulo" for="cpf">
            CPF
          </label>
          <input class="uz-campo" id="cpf" formControlName="cpf" placeholder="234.153.987-98" [ngClass]="{'invalid-field':(formCadastrar.get('cpf')?.invalid)&&formularioEnviarError}">
        </div>
        <div>
          <label class="uz-rotulo" for="celular">
            Celular
          </label>
          <input class="uz-campo" id="celular" formControlName="celular" placeholder="dd xxxxxxxxx" [ngClass]="{'invalid-field':(formCadastrar.get('celular')?.invalid)&&formularioEnviarError}">
        </div>
        <div>
          <label class="uz-rotulo" for="dataNascimento">
            Data de nascimento
          </label>
          <input class="uz-campo" id="dataNascimento" type="date" formControlName="dataNascimento" [ngClass]="{'invalid-field':(formCadastrar.get('dataNascimento')?.invalid)&&formularioEnviarError}">
        </div>
      </div>
      <fieldset>
        <legend>
          Endereço
        </legend>
        <div class="linha duas">
          <div>
            <label class="uz-rotulo" for="cep">
              CEP
            </label>
            <input class="uz-campo" id="cep" formControlName="cep" maxlength="9" [ngClass]="{'invalid-field':(formCadastrar.get('cep')?.invalid)&&formularioEnviarError}" (keyup)="puxarEndereco()">
          </div>
          <div>
            <label class="uz-rotulo" for="rua">
              Rua
            </label>
            <input class="uz-campo" id="rua" formControlName="rua" [ngClass]="{'invalid-field':(formCadastrar.get('rua')?.invalid)&&formularioEnviarError}">
          </div>
        </div>
        <div class="linha tres">
          <div>
            <label class="uz-rotulo" for="numero">
              Número
            </label>
            <input class="uz-campo" id="numero" formControlName="numero" [ngClass]="{'invalid-field':(formCadastrar.get('numero')?.invalid)&&formularioEnviarError}">
          </div>
          <div>
            <label class="uz-rotulo" for="bairro">
              Bairro
            </label>
            <input class="uz-campo" id="bairro" formControlName="bairro" [ngClass]="{'invalid-field':(formCadastrar.get('bairro')?.invalid)&&formularioEnviarError}">
          </div>
          <div>
            <label class="uz-rotulo" for="cidade">
              Cidade
            </label>
            <input class="uz-campo" id="cidade" formControlName="cidade" [ngClass]="{'invalid-field':(formCadastrar.get('cidade')?.invalid)&&formularioEnviarError}">
          </div>
        </div>
        <div class="linha duas">
          <div>
            <label class="uz-rotulo" for="estado">
              Estado
            </label>
            <input class="uz-campo" id="estado" formControlName="estado" [ngClass]="{'invalid-field':(formCadastrar.get('estado')?.invalid)&&formularioEnviarError}">
          </div>
        </div>
      </fieldset>
      <div class="acoes">
        <button class="uz-btn-marca" type="submit">
          Cadastrar
        </button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
