<form [formGroup]="form">
  <div class="modal-abrido">
    <div class="checkout">
      <img src="../../../../../assets/file.png" alt="logo" width="150px" height="150px">
      <p>Checkout</p>
      <div class="titulos">
        <h5 class="title">Produto</h5>
        <h5 class="title" style="margin-left: 150px;">Quantidade</h5>
        <h5 class="title" style="margin-left: 20px;">Preço</h5>
      </div>
      <div class="produtos" *ngFor="let produto of produtos">
        <div class="flex-new">
          <img [src]="produto.fotoUrls[0]" alt="" width="120px" height="120px">
        </div>
        <div class="info">
          <h5>{{produto.nome}}</h5>
          <h5>{{produto.categoriaNome}}</h5>
        </div>
        <div class="flex">
          <div class="qnt">

            <h5 class="center">{{produto.quantidadePedida}}</h5>
          </div>
          <div class="preco">

            <h5 class="center">{{ produto.preco | currency:'BRL':'symbol' }}</h5>
          </div>
          <div>
            <h5></h5>
          </div>
        </div>
      </div>
      <div class="modal-flex">
        <label for="pagamento">Selecione a forma de Pagamento:</label>
        <select formControlName="pagamento" id="pagamento" (change)="onPaymentChange($event)">
          <option value="" disabled selected>Escolha...</option>
          <option value="pix">Pix</option>
          <option value="cartao">Cartão</option>
        </select>
        <div class="error-container">
          <div *ngIf="form.get('pagamento')?.invalid && form.get('pagamento')?.touched">
            <small class="error">Este campo é obrigatório.</small>
          </div>
        </div>
      </div>
      <div *ngIf="form.get('pagamento')?.value">
        <label for="nome" *ngIf="selected === 'pix'">Chave Aleatoria:</label>
        <label for="nome" *ngIf="selected === 'cartao'">Informe seu cartão:</label>
        <input type="text" id="nome" formControlName="nome" placeholder="Digite aqui..." *ngIf="selected === 'cartao'">
        <!-- <input type="text" id="nome" formControlName="nome" [attr.disabled]="selected === 'pix' ? true : null"> -->
        <blockquote *ngIf="selected === 'pix'" aria-disabled="true" class="blockquote">

          {{chave}}
        </blockquote>
      </div>
      <div class="finalizar" (click)="comprar()" *ngIf="agoraPode && agorarealpode">
        <div style="margin: 0 auto;">FINALIZAR PEDIDO</div>
      </div>
    </div>
    <div class="resumo" style="height: 100vh;">
      <div class="margem">
        <p>Resumo do pedido</p>
        <small>Subtotal do Pedido</small>
        <div>
          <label for="CEP">Entrega</label>
          <form class="flex-input" [formGroup]="formCep">
            <input type="text" placeholder="CEP de Entrega*" required formControlName="cep" name="cep">
            <button class="calcular" (click)="getCep()">CALCULAR</button>
            <div class="error" *ngIf="cpfInvalido">O cpf informado é invalido</div>
          </form>
        </div>
        <hr>
        <div class="total">
          <span>Total</span>
          <span>{{ precoTotal | currency:'BRL':'symbol' }}</span>
        </div>
      </div>
    </div>
  </div>
</form>