<form [formGroup]="form">
  <div class="modal-abrido">
    <div class="checkout">
      <img src="../../../../../assets/file.png" alt="logo" width="100px" height="100px">
      <p>Checkout</p>
      <div class="produtos" *ngFor="let produto of produtos">
        <img [src]="produto.fotoUrls[0]" alt="" width="120px" height="120px">
        <div class="info">
          <h5>{{produto.nome}}</h5>
          <h5>{{produto.categoriaNome}}</h5>
        </div>
        <div class="flex">
          <div class="qnt">
            <h5>QUANTIDADE:</h5>
            <h5>{{produto.quantidadePedida}}</h5>
          </div>
          <div class="preco">
            <h5>PREÇO:</h5>
            R${{produto.preco}}
          </div>
        </div>
      </div>
      <div class="modal-flex">
        <label for="pagamento">Selecione a forma de Pagamento:</label>
        <select formControlName="pagamento" id="pagamento" (change)="onPaymentChange($event)">
          <option value="" disabled selected>Escolha...</option>
          <option value="pix">Pix</option>
          <option value="cartao">Cartão</option>
        </select>
        <div class="error-container">
          <div *ngIf="form.get('pagamento')?.invalid && form.get('pagamento')?.touched">
            <small class="error">Este campo é obrigatório.</small>
          </div>
        </div>
      </div>
      <div *ngIf="form.get('pagamento')?.value">
        <label for="nome" *ngIf="selected === 'pix'">Informe seu nome:</label>
        <label for="nome" *ngIf="selected === 'cartao'">Informe seu cartão:</label>
        <input type="text" id="nome" formControlName="nome" placeholder="Digite aqui...">
      </div>
      <div class="finalizar" (click)="comprar()" *ngIf="form.get('nome')?.value && agorarealpode">
        <div style="margin: 0 auto;">FINALIZAR PEDIDO</div>
      </div>
    </div>
    <div class="resumo">
      <div class="margem">
        <p>Resumo do pedido</p>
        <small>Subtotal do Pedido</small>
        <div>
          <label for="CEP">Entrega</label>
          <form class="flex-input" [formGroup]="formCep">
            <input type="text" placeholder="CEP de Entrega*" required formControlName="cep" name="cep">
            <button class="calcular" (click)="getCep()">CALCULAR</button>
          </form>
        </div>
        <div class="total">
          <span>Total</span>
          <span>R${{precoTotal}}</span>
        </div>
      </div>
    </div>
  </div>
</form>