@use 'breakpoints' as bp;

.dados {
  display: flex;
  flex-direction: column;
  gap: var(--uz-esp-5);
  max-width: 48rem;
}

.secao {
  padding: var(--uz-esp-5) var(--uz-esp-4);

  @media (min-width: bp.$md) {
    padding: var(--uz-esp-6);
  }
}

.secao__titulo {
  font-size: var(--uz-fs-h3);
}

.campos {
  display: grid;
  column-gap: var(--uz-esp-4);
  row-gap: var(--uz-esp-1);

  @media (min-width: bp.$sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.campos__largo {
  grid-column: 1 / -1;
  margin-bottom: var(--uz-esp-3);
}

.acoes {
  display: flex;
  flex-wrap: wrap;
  gap: var(--uz-esp-3);
  margin-top: var(--uz-esp-2);
}
